name: Deploy Standalone to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. 소스 코드 가져오기 (여기에 이미 빌드된 standalone이 들어있음)
      - name: Checkout Source
        uses: actions/checkout@v4

      # 2. EC2로 파일 전송 (standalone 폴더 통째로)
      - name: Deploy to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          # .next/standalone 폴더 안의 내용물을 -> EC2의 ~/psh-deploy 폴더로 전송
          source: "psh/.next/standalone/*"
          target: "/home/ubuntu/psh"
          strip_components: 3 # 경로 떼고 내용물만 보냄

      # 3. EC2 서버 재시작
      - name: Restart Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            # 1. 기존 서버 종료 (3000 포트)
            echo "Killing old process..."
            fuser -k 3000/tcp || true
            
            # 2. 배포 폴더로 이동
            cd /home/ubuntu/psh
            
            # 3. 서버 실행
            echo "Starting new server..."
            nohup node server.js > app.log 2>&1 &
            
            echo "Deploy Success!"
